<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/css" href="style/index.cs"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>CEPSUM</title>
        <!-- Begin css stylesheets-->
        <link rel="stylesheet" type="text/css" href="style/index.css"/>
        <!-- End css stylesheets-->

        <!-- Begin scripts -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- End scripts -->
    </head>
    <body>
        <div id="container">
            <div id="login">
                <form id="login-form" name="login-form" method="POST" action="../controllor/php/login.php">
                    <h1 class="center-h1">Sign In to Your Account</h1>
                    <div class="form-field">
                        <label for="login-info"><b>Login</b></label>
                        <input id="login-info" name="login-username" type="text" placeholder="Enter Login"/>
                        <label for="password-info"><b>Password</b></label>
                        <input id="password-info" name="login-password" type="password" placeholder="Enter Password"/>
                    </div>
                    <div class="form_buttons">
                        <button type="submit">Sign In</button>
                    </div>
                </form>

                <form id="register-form" name="register-form" method="get" action="register.html">
                    <div class="new-user-button">
                        <button type="submit">New user</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
