<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/css" href="style/index.cs"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>Register - CEPSUM</title>
        <!-- Begin css stylesheets-->
        <link rel="stylesheet" type="text/css" href="style/index.css"/>
        <!-- End css stylesheets-->

        <!-- Begin scripts -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="../controllor/js/register_validation.js"></script>
        <!-- End scripts -->
    </head>
    <body>
        <div id="container">
            <div id="register">
                <form id="register-form" onsubmit="return validate()" method="POST" action="../controllor/php/register.php">
                    <h1 class="center-h1">Create A New Account</h1>
                    <div class="form-field">

                        <!-- Name -->
                        <label for="name"><b>Name</b> <span id="nameMessage"></span></label>
                        <input id="name" name="name" type="text" placeholder="Enter Your Name"/>

                        <!-- Last Name -->
                        <label for="last_name"><b>Last Name</b> <span id="lastNameMessage"></span> </label>
                        <input id="last_name" name="last_name" type="text" placeholder="Enter Your Last Name"/>

                        <!-- Login Account -->
                        <label for="login_account"><b>Login Account</b> <span id="loginAccountMessage"></span> </label>
                        <input id="login_account" name="login_account" type="text" placeholder="Enter Your Login Account"/>

                        <!-- Password -->
                        <label for="password"><b>Password</b> <span id="passwordMessage"></span> </label>
                        <input id="password" name="password" type="text" placeholder="Enter Your Password"/>

                        <!-- Retype Password-->
                        <label for="retype_password"><b>Retype Password</b> <span id="retypePasswordMessage"></span> </label>
                        <input id="retype_password" name="retype_password" type="text" placeholder="Retype Password"/>

                    </div>
                    <div class="form_buttons">
                        <button id="submit_info" type="submit">Register</button>
                    </div>
                </form>

                <form id="cancel_register_form" method="get" action="index.html">
                    <div class="new-user-button">
                        <button type="submit" class="cancel_button">Cancel</button>
                    </div>
                </form>

            </div>
        </div>
    </body>
</html>
